
@keyframes sizechange {
	0% {font-size: 24pt;}
	50% {font-size: 12pt;}
	100% {font-size: 24pt;}

}

p {
	color: #ffff00;
	font-family: "Microsoft Sans Serif", Tahoma, sans-serif;

}
body {
	background-color: #0000ff;

}

.weird {
	color: #00ff00;
	font-family: "Microsoft Sans Serif", Tahoma, sans-serif;
	text-shadow: 2px 2px #ffff00;
	font-weight: bold;
}

.weirdsmall {
	color: #00ff00;
	font-family: "Microsoft Sans Serif", Tahoma, sans-serif;
	text-shadow: 1px 1px 1px #ffff00;
	font-weight: bold;
}